@keyframes effect_highlight {
  0%   { background-color: inherit }
  15%  { background-color: #fffa90  }
  100% { background-color: inherit }
}

.effect_highlight {
   animation: effect_highlight 1.5s;
}